@media (min-width: 601px) and (max-width: 1200px) {
    main {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    article {

        margin: 10px;
    }
    .banner{
        height: 40vh;
    }





}